@import url(styles/nav.css);
@import url(styles/perfil.css);
@import url(styles/destaque.css);
@import url(styles/atividades.css);
@import url(styles/sobre.css);
@import url(styles/experiencias.css);
@import url(styles/formacao.css);
@import url(styles/idiomas.css);
@import url(styles/lateral.css);

:root {
    --fundo-card: #1B2226;
    --preto: #000;
    --branco: #fff;
    --main-blue: #70B5F9;
    --cinza-secundario: #38434F;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: var(--preto);
    
}


.principal {
    padding: 1vw 1vw 1vw 10vw;
}

h2 {
    color: var(--branco);
    font-weight: 700;
}

.paginacao {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 3em;
}

