@import url(styles/header.css);
@import url(styles/perfil.css);

:root {
    --fundo-card: #1B2226;
    --preto: #000;
    --branco: #fff;
    --main-blue: #70B5F9;
    

}

body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}






