@import url(styles/header.css);
@import url(styles/perfil.css);

:root {
    font-family: sans-serif;;
    --fundo-card: #1B2226;
    --preto: #000;
    --branco: #fff;
    --main-blue: #70B5F9;
    

}

body {
    background-color: white;
    font-family: var(--fonte-principal);
    font-size: 14px;
    font-weight: 400;
}

a {
display: flex;
justify-content: center;
align-items: center
}




