.cabecalho {
    background-color: var(--fundo-card);
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;    
    height: 52px;
    padding-left: 150px;
    position: relative;
}

.container__logo {
    margin: 9px 8px 9px;
}

.container__pesquisa{
    border-radius: 4px;
    width: 20%;
    height: 34px;
    background-color: var(--cinza-secundario);
    position: absolute;
    top: 9px;    
}

.container__pesquisa::placeholder {
    color: var(--branco);
    background: url("../assets/icone-busca.svg") no-repeat;
    background-position: 5px;
    padding-left: 2em;
}

.container2 {
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-weight: 400;
    color: var(--branco);
    padding-right: 413px;
}

.container2__menu-link {
    text-decoration: none;
    color: var(--branco);
}

.container2__menu-botao {
    padding: 25px 5px 21px;    
}

.separacao-cabecalho {
    height: 70px;
}